tabs-component {
  width: 100%;
  padding: 20px 20px 0px 20px;
  background-color: white;

  th {
    cursor: pointer;
  }

  .tabs-card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tabs-navigation {
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }
  .tab-option {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    text-decoration: none;
    transition: text-shadow 1s ease, color 1s ease;
    line-height: 1.3;
    color: rgb(175, 172, 172);
    cursor: pointer;
    $thetransition: all 0.4s cubic-bezier(1, 0.25, 0, 0.75) 0s;

    &.active {
      color: black;
      text-shadow: 0px 0px 1px black;
    }
    &:hover {
      color: black;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: rgb(51, 61, 207);

      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: $thetransition;
      transition: $thetransition;
    }
    &:hover:before,
    &.active:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  .about {
    li {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      margin: 10px 0px;

      color: rgb(175, 172, 172);
      span {
        color: black;
      }
    }
  }
  .base-stats {
    li {
      display: grid;
      grid-template-columns: 80px 30px 1fr;
      margin: 10px 0px;
      align-items: center;
    }

    .stats {
      border-radius: 5px;
      margin-left: 10px;
      width: 100%;
      background-color: #ddd;
      height: 5px;

      & div {
        position: relative;
        border-radius: 5px;
        height: 100%;
      }
    }
  }
  .evolution {
    .evolution-title {
      display: flex;
      justify-content: center;
    }

    .first-form,
    .second-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .move-list {
    width: 100%;
    text-align: center;
    position: relative;
    border-collapse: collapse;
  }

  tr th {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    padding: 3px;
    color: rgb(0, 0, 0);
  }
  th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  td {
    border: 0.5px solid #000;
    box-shadow: 0 0px 12px 0px #0000004d;
    background: rgba(131, 131, 131, 0.075);
    padding: 5px 5px;
    color: rgb(0, 0, 0);
  }
  tbody {
    text-transform: capitalize;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.144);
    border-radius: 85px;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(0, 0, 0, 0.055);
    border-radius: 80px;
  }

  .tab {
    display: none;
    animation: fade 1s alternate, slide-out 0.5s ease alternate;

    &.active {
      display: block;
    }
    &.active:nth-child(4) {
      overflow: auto;
      max-height: calc(100vh - 350px);
      animation: fade 1s alternate, slide-out 0.5s ease alternate;
    }
  }
  @media screen and (min-width: 600px) {
    border-radius: 0px 0px 5px 5px;
  }
}
