<div class="select-box">
  <div class="options-container">
    <div class="option">
      <input type="radio" class="radio" value="0:899" />
      <label for="Filter by Generation">Filter by Generation</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="0:151" />
      <label for="Generation I">Generation I</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="151:251" />
      <label for="Generation II">Generation II</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="251:386" />
      <label for="Generation III">Generation III</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="386:494" />
      <label for="Generation IV">Generation IV</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="494:649" />
      <label for="Generation V">Generation V</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="649:721" />
      <label for="Generation VI">Generation VI</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="721:809" />
      <label for="Generation VII">Generation VII</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="809:898" />
      <label for="Generation VIII">Generation VIII</label>
    </div>
    <div class="option">
      <input type="radio" class="radio" value="" />
      <label for="Favorite Pokemons">Favorite Pokemons</label>
    </div>
  </div>
  <div class="selected"><h1>Filter by Generation</h1></div>
</div>
