<button class="exit">X</button>
<div class="form">
  <div class="thumbnail">
    <img src="{{ img }}" />
  </div>
  <form class="register-form">
    <input type="text" placeholder="Name" />
    <span class="form-error"> Name is incorrect </span>
    <input type="email" placeholder="Email address" /><span class="form-error"
      >Invalid email address</span
    ><input type="password" placeholder="Password" /><span class="form-error"
      >Invalid password</span
    ><input type="password" placeholder="Confirm Password" /><span class="form-error"
      >Passwords do not match</span
    ><button class="submit" disabled="true">Create</button>
    <p class="message">Already registered?<a>Sign In</a></p>
  </form>
  <form class="login-form">
    <input type="email" placeholder="Email address" /><span class="form-error"
      >Invalid email address</span
    ><input type="password" placeholder="Password" />
    <span class="form-error">Invalid password</span
    ><button class="submit" disabled="true">Login</button>
    <p class="message">Not registered?<a>Create an account</a></p>
  </form>
</div>
