@import "error";

.search-bar {
  margin-top: 35px;
  display: flex;
  align-items: center;
  position: relative;

  border-radius: 5px;
  border: 1px solid #000;
  background-color: var(--white-color);
  color: var(--black-color);
  background-color: white;
}
.search-bar-icon {
  margin-left: 15px;
  margin-right: 10px;
  width: 15px;
  content: url(../../assets/images/search-bar-icon.svg);
  transition: transform 0.3s ease;
}
.search-bar-icon:hover {
  transform: scale(1.3);
}
.search-bar-input {
  width: 100%;
  padding: 12px 0px;
  border: none;
  outline: none;
  position: relative;
  top: 1px;
  z-index: 2;
  font-family: "Jura", sans-serif;
  color: black;
  background-color: transparent;
}
.search-bar-input ~ .search-bar-label {
  position: absolute;

  color: black;
  top: 2px;
  left: 40px;
  font-size: 12px;
  transform: translateY(100%);
  transition: font-size 0.3s ease, left 0.3s ease, -webkit-transform 0.3s ease, color 0.3s;
}
.search-bar-input:focus ~ .search-bar-label,
.search-bar-label.active {
  color: rgba(0, 0, 0, 0.705);
  font-size: 8px;
  top: 0;
  transform: translateY(45%);
}
@media screen and (max-width: 800px) {
  .navigation-content {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .search-bar {
    max-width: 190px;
  }
}
