@import "scss/homepage";
@import "scss/keyframes";
@import "scss/pokemondetails";
@import "scss/mixins";
@import "scss/loading";
@import "scss/alerts";
@import "scss/settings";

#root {
}

#html {
  width: 100%;
  height: 100%;
  position: absolute;
}

html,
main {
  background-image: linear-gradient(
    to right,
    #f7f2ff,
    #f3edff,
    #efe9ff,
    #eae4ff,
    #e5e0ff,
    #e2deff,
    #deddff,
    #dadbff,
    #d7dcff,
    #d4dcff,
    #d1ddff,
    #ceddff
  );
  animation: fade 0.5s;
}
html.loading,
html.login,
html.loading.login {
  overflow: hidden;
}

.fade {
  animation: fade 1.5s;
}
.fade-in {
  animation: fade 0.5s;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.144);
  border-radius: 85px;
}

::-webkit-scrollbar-track {
  border: 5px solid rgba(0, 0, 0, 0.055);
  border-radius: 80px;
}
