.navigation-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  user-select: none;
  font-family: "Jura", sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px black;
  background-color: var(--white-color);
  color: var(--black-color);
  background-color: white;
}
.search-bar-icon {
  margin-left: 15px;
  margin-right: 10px;
  width: 15px;
  content: url(../assets/images/search-bar-icon.svg);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.search-bar-icon:hover {
  transform: scale(1.3);
}
