.login-screen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s;
  background: rgba(204, 204, 204, 0.11);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.login-screen.fade-out {
  opacity: 0;
}
.login-screen:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}
.exit {
  margin: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: ef3b3a;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.form {
  top: 20%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;

  input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid transparent;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 1s;

    &.invalid {
      border: 1.5px #ef3b3a solid;

      & + .form-error {
        opacity: 1;
      }
    }
  }
  .form-error {
    opacity: 0;
    transition: opacity 1s;
    color: #ef3b3a;
    font-size: 12px;
    position: relative;
    right: 24%;
    padding: 8px;
    margin-bottom: 5px;
  }
  button {
    outline: 0;
    background-color: #ef3b3a;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    transition: background-color 2s;
    cursor: pointer;

    &:disabled {
      background-color: #811c1c;
    }
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;

    a {
      color: #ef3b3a;
      text-decoration: none;
    }
  }
}
.thumbnail {
  background: #ef3a3a;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-radius: 100%;
  box-sizing: border-box;

  img {
    content: url(../assets/images/icons8-insignia-3-stars-96.png);
    transform: translate(-0.5%, -25%);
    display: block;
    width: 100%;
  }
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  animation: fade 1.5s;
}

.register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;

  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .info {
    margin: 50px auto;
    text-align: center;

    h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
    }
    span {
      color: #4d4d4d;
      font-size: 12px;

      .fa {
        color: #ef3b3a;
      }
      a {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
