:root {
  --white-color: #ffff;
  --white-color-dark: #00000015;
  --black-color: black;
  --background-color: white;
}

.options-container,
.selected,
.option,
.option:hover,
.select-box {
  border-radius: 5px;
  z-index: 2;
}
.selected,
.option,
.select-box label {
  z-index: 2;
  cursor: pointer;
}
.select-box {
  margin-top: 34px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  max-width: 200px;
  max-height: 42px;
}
.selected {
  width: 100%;
  max-height: 30px;
  position: relative;
  outline: none;
  padding: 20px;
  margin-bottom: 10px;
  order: 0;

  h1 {
    position: relative;
    bottom: 7px;
    right: 10px;
  }

  &::after {
    content: "";
    background: url(../assets/images/icon-arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding: 4px;
    top: 48%;
    right: 15px;
    transition: transform 0.4s ease;
  }
  &:hover {
    background-color: var(--white-color-dark);
  }
}

.options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: 17px;
}

.option {
  padding: 15px 20px;
  transition: transform 0.2s ease;
  transform: scale(1);
  background-color: var(--white-color);

  & .radio {
    display: none;
  }
  &:hover {
    transform: scale(0.95);
    background-color: var(--white-color-dark);
  }
}

.options-container {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  order: 1;
  width: 100%;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;

  &.active {
    background-color: var(--white-color);
    visibility: visible;
    max-height: 420px;
    border: 1px solid #000;
    opacity: 1;
  }
}
@media screen and (max-width: 550px) {
  .select-box {
    margin-top: 15px;
  }
}
