@import "keyframes";

.pokemon-content {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: "Jura", sans-serif;
}

.back {
  align-self: flex-start;
  width: 100%;
  max-width: 100px;
  padding: 10px;
  border: none;
  color: black;
  background: white;
  border-radius: 5px;
}
.arrow {
  margin-right: 5px;
  content: url(../assets/images/arrow-right.svg);
}

.pokemon-card {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 620px;
}

#pokemon-details {
  width: 100%;
}

.pokemon-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px 20px;
  border-radius: 5px 5px 0px 0px;

  & .pokemon-image {
    align-self: center;
    width: 150px;
    border-radius: 100%;
    background-color: #5a5a5a00;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.027);
    background-image: linear-gradient(315deg, #ffffff0e 0%, #ffffff4f 74%);
    margin: 10px;
  }
}
.pokemon-identifier {
  margin-bottom: 30px;

  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }
  span {
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.027);
    background-image: linear-gradient(315deg, #18181817 0%, #2a2a2a4f 74%);
  }
}
.pokemon-identity {
  display: grid;
  grid-template-columns: 100px 90px 50px;
  justify-content: space-between;

  h1 {
    text-transform: capitalize;
  }
  h2 {
    max-height: 30px;
  }
}

.tabs-content {
  width: 100%;
  padding: 20px 20px 0px 20px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}
.tabs-card {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabs-navigation {
  user-select: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.tab-option {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition: text-shadow 1s ease, color 1s ease;
  line-height: 1.3;
  color: rgb(175, 172, 172);
  cursor: pointer;
  $thetransition: all 0.4s cubic-bezier(1, 0.25, 0, 0.75) 0s;

  &.active {
    color: black;
    text-shadow: 0px 0px 1px black;
  }
  &:hover {
    color: black;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgb(51, 61, 207);

    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }
  &:hover:before,
  &.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.tab {
  display: none;

  &.active {
    display: block;
    padding-left: 2px;
    animation: fade 1s, slide-out 0.5s ease;
  }
  &.active:nth-child(4) {
    overflow: auto;
    max-height: 310px;
  }
}

.about {
  li {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 10px 0px;

    color: rgb(175, 172, 172);
    span {
      color: black;
    }
  }
}
.base-stats {
  li {
    display: grid;
    grid-template-columns: 80px 30px 1fr;
    margin: 10px 0px;
    align-items: center;
  }

  .stats {
    border-radius: 5px;
    margin-left: 10px;
    width: 100%;
    background-color: #ddd;
    height: 5px;

    & div {
      position: relative;
      border-radius: 5px;
      height: 100%;
    }
  }
}
.evolution {
  display: grid;
  align-items: center;
  grid-template-rows: min-content min-content min-content;

  .evolution-title {
    display: flex;
    justify-content: center;
  }

  .first-form,
  .second-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.move-list {
  width: 100%;
  text-align: center;
  position: relative;
  border-collapse: collapse;
}

tr th {
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  padding: 3px;
  color: rgb(0, 0, 0);
}
th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
td {
  border: 0.5px solid #000;
  box-shadow: 0 0px 12px 0px #0000004d;
  background: rgba(131, 131, 131, 0.075);
  padding: 5px 5px;
  color: rgb(0, 0, 0);
}
tbody {
  text-transform: capitalize;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.144);
  border-radius: 85px;
}

::-webkit-scrollbar-track {
  border: 5px solid rgba(0, 0, 0, 0.055);
  border-radius: 80px;
}

.pokemon-details:nth-child(1) .pokemon-image {
  animation: breathe 2.5s infinite;
}

.shiny-content {
  max-width: 45px;
  max-height: 45px;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  border-radius: 100%;

  &:after {
    content: "";
    position: absolute;
    top: -120%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.14) 74%,
      rgba(255, 255, 255, 0.1) 76%,
      rgba(255, 255, 255, 0) 77%,
      rgba(255, 255, 255, 0.06) 79%,
      rgba(255, 255, 255, 0.3) 92%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:hover:after,
  &:active::after {
    opacity: 1;
    top: -40%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
}
.shiny {
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 0, 0.356);
  padding: 10px 15px;
  width: 100%;
  height: 100%;

  position: relative;

  content: url(../assets/images/shiny.svg);
  transition: transform 200ms;

  &:active {
    transform: scale(0.8);
  }
}

.first-form,
.second-form {
  & span {
    text-align: center;
    margin: 10px;
  }
  & img {
    max-width: 90px;
    border-radius: 100%;
    background-color: #e2e2e254;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.027);
    background-image: linear-gradient(315deg, #ffffff0e 0%, #ffffff4f 74%);
    animation: breathe 2.5s infinite;
    margin: 10px;
  }
  .shiny img {
    width: 20%;
    height: 20%;
  }
}
