@import "homepage";
@import "types";
@import "mixins";
@import "loading";

html,
main {
  background-image: linear-gradient(
    to right,
    #f7f2ff,
    #f3edff,
    #efe9ff,
    #eae4ff,
    #e5e0ff,
    #e2deff,
    #deddff,
    #dadbff,
    #d7dcff,
    #d4dcff,
    #d1ddff,
    #ceddff
  );
}
html.loading {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.144);
  border-radius: 85px;
}

::-webkit-scrollbar-track {
  border: 5px solid rgba(0, 0, 0, 0.055);
  border-radius: 80px;
}
